.btn{
	border-radius:0;
	display:inline-block;
	font-size:18px;
	background-color:black;
	color:white;


	&.btn-large{
		
		display:none;
		font-size:11px;
		width:33%;
		height:33px;
		background-color:black;
		color:white;
		float:right;
		margin-right:5px;
		margin-top:15px;
		text-align:center;
		@mixin clearFix;
		
		
		
		@mixin atSmall{
			font-size:15.5px;
			width:35%;
			height:40px;
			margin-top:13px;
		}

		@mixin atMedium{
			font-size:20px;
		}

		@mixin atLarge{
			max-width:350px;
			margin-right:3%;
		}
				
	}

	&.btn-submit{
		display:inline-block;
		height:30px;
		margin-left:10px;
		@mixin atSmall{
			margin-left:10px;
		}
	}
	&.btn-example{
		display:block;
		width:auto;
		height:30px;
		margin:0 auto;
		margin-top:10px;
		text-align:center;
	}
}