.footer{
	position:absolute;
	bottom:0;
	width:100%;
	padding-top:1px;
	padding-bottom:20px;

	margin:0 auto;
	margin-top:15px;
	background-color:rgba(255,201,158,0.6);
	color:black;
	text-align:center;

	& img{
		height:25px;
		width:25px;
		margin:8px 3px 0 3px;
	}

	& p{
		margin-bottom:10px;

		@mixin atSmall{
			font-size:14px;
		}
		@mixin atMedium{
			font-size:20px;
		}
	}

	& .split{
		display:flex;
		width:100%;
		text-align:center;
		margin-bottom:-10px;
		justify-content:center;

		& .copy{
			margin-right:10px;	
		}

		& .links{
			margin-top:-14px;	
		}
	}

}